.header{
    display: flex;
}
.logo-img{
    width: 80px;
    height: 80px;
    margin:20px 5px 0px 30px;
}
.desc{
    margin-left: 33em;
    margin-top: 2em;
    font-size: 1.5em;
}
.desc-txt{
    margin:10px 30px 0px 30px;
    border: 1px solid black;
    padding: 5px;
    font-size: 1.2em;
    font-style: italic;
}
.titletxt{
    margin:50px 0px 0px 0px
}
.hrtxt{
    margin:0px;

}
.section1header{
    margin-bottom:0px;
    padding-bottom:0px;
    color: red;

}
.section1{
    display:flex;
    justify-content: space-between;
    
}
.inputAcademicTerm,.inputAcademicYear,.Others{
    height: 28px;
    margin: 0px;
    padding: 0px;
    width:15em;
}
.inputAcademicTerm,.inputAcademicYear{
    margin-top: 7px;
}
input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    /* width: 15em; */
  }

  .inputAcademicTerm:focus {
    outline: none;
  }
  .section1container{
    margin: 0px 32px 0px 30px;
  }
  .academicTerm,.academicYear,.employeeStatus{
    
    font-size: 18px;
  }
  .terms{
    font-size: 20px;
  }
  .section2container{
    margin: 0px 40px 0px 30px;
  }
  .section3container{
    margin: 0px 32px 0px 30px;
  }
  .section3headerc{
    display: flex;
    margin:0px;
    padding:0px;
    color: red;

  }
  .inputstudentName,.studentName{
    width: 40%;
    margin:0px;
    padding-left:0.5em
  }
  .inputemployeeRelationship,.employeeRelationship{
    width: 40%;
    margin:0px;
    padding-left:0.5em
  }
  .inputstudentsNUId{
    width:20%
  }
  .studentsNUId{
    padding-left: 1em;
    margin:0px;
  }
  .inputemployeeName{
    width:81.5%
  }
  .employeeName{
    margin:0px;
    width:80%;
    padding-left: 0.5em;
  }
    .employeeNUId{
        margin:0px;
        width:20%;
        padding-left: 10em;
    }
    .department,.campusLoation,.phoneNumber,.supervisorName{
        margin:0px;
    }
    .phoneNumber{
        padding-right: 0.5em;
    }
    .section3desc{
        font-size: larger;
        font-style: italic;
        margin-left: 2em;
        color: rgb(31, 31, 167);
        font-weight: bold;

        
      }
      .section3heaer{
      }
      .desc1{
        padding: 2px;
        border:0.5px solid antiquewhite;
        font-size: large;
        background-color: antiquewhite;
        color: rgb(31, 31, 167);
      }
      .desc2{
        padding: 2px;
        border:0.5px solid antiquewhite;
        font-size: large;
        background-color: antiquewhite;
        color: rgb(31, 31, 167);
      }
      .section3input1{
        height:10px;
      }
      .section4{
        margin: 0px 32px 0px 30px;
      }
      .section5desc{
        padding: 2px;
        border:0.5px solid antiquewhite;
        font-size: large;
        background-color: antiquewhite;
        color: rgb(31, 31, 167);
      }
      .hrtag{
        height:2px;
        border-width:0;
        color:red;
        background-color:red;
      }
      .footer{
        display: flex;
      }
      footer{
        margin: 0px 32px 0px 30px;
      }
      .footer{
        justify-content: flex-end;
      }
      .hrtxtb{
        margin: 0px;
        color:red
      }
      .navigatortxt{
        margin: 0px;
        color: rgb(31, 31, 167);
      }
      .section2header,.section4header{
        color: red;
      }